<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @message.message %></p>
 <p> To see what gear they want follow this <a href='www.ultiswap.com/photos/<%= @message.photo_id%>'>link</a>
 	</p>
 	 <p> To see what gear they have follow this <a href='www.ultiswap.com/users/<%= @message.user_id%>'>link</a>
 	</p>
  </body>
</html>